@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
font-family: 'Open Sans', sans-serif;
background-image: url(./images/bg-hero-mobile.svg);
background-color: rgba(137, 209, 254, 0.5);
background-repeat: no repeat;
background-size: cover;
margin: 0px;
}

.no-decoration{ 
text-decoration: none;
color: black;
}

.container {
display:flex;
flex-direction: column;
background-color: white;
}

.bg-white {
background-color: white;
padding-top: 40px;
margin-top: 40px;
}

/* header section */

.logo {
position: relative;
float: left;
top: 25px;
left: 50px;
width: 200px;
}

.button {
position: relative;
float: right;
top: 20px;
right: 70px;	
width: 190px;
height: 50px;
background-color: white;
background-position: center;
border-radius: 30px 30px;
border: none;
cursor: pointer;
font-family: 'Poppins', sans-serif;
font-weight: 700;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
transition: all 0.3s ease;
}

.button:hover{
background-color: hsl(322, 100%, 66%);
}

/* main section */

/* first content */

.item1 {
display: grid;
grid-template-rows: 50px;
grid-template-columns: 0.6fr 1fr;
}

h1 {
white-space: nowrap;
position: relative;
top: 200px;
left: 50px;
font-family: Open Sans', sans-serif;
Font-weight: 700;
font-size: 30px;
}

.txt1 {
font-family: 'Open Sans', sans-serif;
color: gray;
grid-column-start: 1;
position: relative;
top: 218px;
left: 50px;
}

.image1 {
width: 650px;
position: relative;
justify-self: end;
right: 60px;
grid-column-start: 2;
}

.button2 {
grid-column-start: 1;
position: relative;
left: 50px;
top: 230px;
width: 290px;
height: 50px;	
background-color: hsl(322, 100%, 66%);
background-position: center;
border-radius: 30px 30px;
border: none;
cursor: pointer;
font-family: 'Poppins', sans-serif;
font-weight: 700;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
transition: all 0.3s ease;
}

.button2:hover{
background-color: white;
}

/* second content */

.item2 {
position: relative;
margin: 120px auto 40px auto;
width: 60%;
height: 100%;
display: grid;
grid-template-rows: 50px;
grid-template-columns: 0.6fr 1fr;
background-color: white;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
border-radius: 10px 10px;
border: none;
align-items: center;
}

h2 {
white-space: nowrap;
font-family: Open Sans', sans-serif;
Font-weight: 700;
font-size: 30px;
margin: 295px 0px 40px 100px;
}

.txt2 {
font-family: 'Open Sans', sans-serif;
color: gray;
grid-column-start: 1;
margin: 0px 40px 0px 102px;
}

.image2 {
width: 70%;
justify-self: end;
position: relative;
right: 40px;
bottom: 10px;
grid-column-start: 2;
}

/* Third Content */

.item3 {
margin: 40px auto 40px auto;
width: 60%;
height: auto;
display: grid;
grid-template-rows: 400px;
grid-template-columns: 1fr 0.6fr;
background-color: white;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
border-radius: 10px 10px;
border: none;
}

h3 {
white-space: nowrap;
grid-column-start: 2;
grid-row-start: 1;
font-family: Open Sans', sans-serif;
Font-weight: 700;
font-size: 30px;
margin: 150px auto 120px 40px;
}

.txt3 {
font-family: 'Open Sans', sans-serif;
color: gray;
grid-row-start: 1;
grid-column-start: 2;
margin: 205px 108px 120px 40px;
}

.image3 {
width: 65%;
min-width: 300px;
position: relative;
top: 40px;
left: 102px;
grid-column-start: 1;
}

/* Fourth Content */

.item4 {
width: 60%;
height: 100%;
margin: 40px auto 40px auto;
display: grid;
grid-template-rows: 50px;
grid-template-columns: 0.6fr 1fr;
background-color: white;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
border-radius: 10px 10px;
border: none;
}

h4 {
white-space: nowrap;
font-family: Open Sans', sans-serif;
Font-weight: 700;
font-size: 30px;
margin: 0px 0px 115px 100px;
position: relative;
top: 140px
}

.txt4 {
font-family: 'Open Sans', sans-serif;
color: gray;
grid-column-start: 1;
margin: 145px 40px 0px 102px;

}

.image4 {
width: 70%;
position: relative;
bottom: 10px;
right: 30px;
grid-column-start: 2;
justify-self: end;

}

/* Fifth Content */

.item5 {
width: 500px;
height: 200px;
display: flex;
margin: 120px auto -90px auto;
flex-direction: column;
align-items: center;
background-color: white;
position: relative;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
border-radius: 20px 20px;
border: none;
}

h5 {
font-family: Open Sans', sans-serif;
Font-weight: 700;
font-size: 24px;
}

.button3 {
align-self: center;
width: 200px;
height: 50px;	
background-color: hsl(322, 100%, 66%);
background-position: center;
border-radius: 30px 30px;
border: none;
cursor: pointer;
font-family: 'Poppins', sans-serif;
font-weight: 700;
box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
transition: all 0.3s ease;
}

.button3:hover{
background-color: white;
}

/* Footer */

.item6 {
width: 94.77%;
height: 300px;
display: grid;
justify-content: center;
align-items: center;
grid-template-rows: 200px;
grid-template-columns: 1fr 1fr 1fr 1fr;
background-color: hsl(192, 100%, 9%);
padding-top: 200px;
padding-left: 100px;
}

.white-text {
color: white;
}

.links {
grid-column-start: 4;
text-decoration: none;
color: white;
font-size: 14px;
}

.logo2 {
width: 200px;
margin-bottom: 10px;
}

.c1 {
grid-column-start: 1;
margin-bottom: 40px;
}

.c2 {
grid-column-start: 2;
justify-self: center;
line-height: 200%;
}

.c3 {
grid-column-start: 3;
justify-self: center;
line-height: 200%;
}

.none {
list-style: none;
}

.location {
list-style-image: url("./images/icon-location.svg")
}

.phone {
list-style-image:url("./images/icon-phone.svg")
}

.email {
list-style-image:url("./images/icon-email.svg")
}

.social {
grid-column-start: 4;
position: relative;
justify-self: center;
}

.social img{
width: 8%;
border: 2px solid #fff;
border-radius: 50%;
cursor: pointer;
margin: 0 0.5rem;
}

.social img:hover{
border: 2px solid violet;
}

/* media quebra da linha */

@media screen and (max-width: 1440px){

.bg-white {
background-color: red;
}

.txt1{
margin-top: 60px;
}

h2{
white-space: nowrap;
margin: 125px 80px 20px 80px;
}

.txt2{
margin: 130px 0px 0px 80px;
}

h3 {
white-space: nowrap;
margin: 150px 60px 0px 80px;
}

.txt3 {
text-align: right;
margin: 200px 60px 0px 100px;
}

.image3 {
margin: 0px 60px 0px -30px;
width: 80%;
}

h4{
white-space: nowrap;
margin: 125px 80px 20px 80px;
}

.txt4{
margin: 130px 0px 0px 80px;
}

}

@media screen and (max-width: 1230px){

.bg-white{
margin-top: 100px;
}

h1,h2,h3,h4{
font-size: 28px;
}

p{
font-size: 16px;
}

.button2{
width: 200px;
height: 50px;
}

.image1{
width: 60%;
}

.image2{
width: 70%;
align-self: center;
}

.image3{
align-self: center;
margin-bottom: 120px;
width: 70%;
}

.image4{
width: 70%;
align-self: center;
}

.txt1{
margin-top: 30px;
}

.txt2 {
top: 95px;
}

h4{
top: 75px;
}

.txt4{
top: 95px;
}

.item2 {
width: 70%;
}

.item3 {
width: 70%;
}

.item4 {
width: 70%;
}

.item5{
width: 40%;
height: 150px;
}

h5{
font-size: 18px;
}

.item6{
width: 91.65%;
}
}

@media screen and (max-width: 860px){

h1,h2,h3,h4{
font-size: 18px;
margin: 0px;
}

p{
font-size: 14px;
}

.txt1 {
margin-top: 0px;
}

.item2 {
width: 70%;
height: 100%;
}

.txt2{
margin-top: -30px;
}

}
